
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 2rem;
  }
  
  .banner h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    color: #007acc; /* Primary VSCode keyword color */
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #7a7a7a;
  }
  @media (max-width:749px) {
    .banner{
      flex-direction:column;
      width:100%;
      max-width:749px;
    }
    .banner h1{
      font-size:2rem;
    }
  }